
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr; 
    padding: 2rem;
    gap: 3rem;
    margin: 3rem;
}

@media screen and (min-width: 834px) {
    .gallery-grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 8fr));
        grid-template-rows: 8fr;
    }
    
    .gallery-grid :first-child {
        grid-column: span 2;
        grid-row: span 2;
    }
}