:root{
    --trash-hover: whitesmoke;
}

.gallery-item {
    overflow: hidden;
    place-items: center;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 5fr 1fr;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 1rem;
}

.gallery-item p {
    padding: 0.5rem;
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#picture {
    width: 90%;
    height: 90%;
    margin-top: 1rem;
    border-radius: 1rem;
    grid-column: 1 / 3;
    object-fit: cover;
}

#trash {
    cursor: pointer;
    border-radius: none;
    grid-column: 2;
}

button {
    border: none;
    background: none;
}

button:hover {
    background: border-box whitesmoke;
    border-radius: 50%;
    padding: 0.4rem;
}