
.gallery-item {
    cursor: pointer;
    overflow: hidden;
    place-items: center;
    display: grid;
    width: 100%;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 5fr 1fr;
}

.gallery-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 1rem;
}

.gallery-item p {
    padding: 0.5rem;
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
 
.first {
    transition: transform 0.3s ease;
    transform: scale(1.2);
}

.first:hover {
    transform: scale(1.22);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.first > #picture {
    border: 2px solid lightgray; 
}

#picture {
    margin-top: 1rem;
    border-radius: 1rem;
    grid-column: 1 / 3;
}

#trash {
    border-radius: none;
    grid-column: 2;
    width: 25px;
}
