
.gallery-item {
    overflow: hidden;
    place-items: center;
    display: grid;
    width: 100%;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 5fr 1fr;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 1rem;
}

.gallery-item p {
    padding: 0.5rem;
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.gallery-item.first {
    transform: scale(1.2); 
    /* grid-column: span 2;
    grid-row: span 2;
    background-color: red; */
}

.first:hover {
    transform: scale(1.22);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.first > #picture {
    border: 2px solid lightgray; 
}

#picture {
    margin-top: 1rem;
    border-radius: 1rem;
    grid-column: 1 / 3;
}

#trash {
    cursor: pointer;
    border-radius: none;
    grid-column: 2;
    width: 25px;
}

button {
    border: none;
    background: none;
}

button:hover {
    background: border-box whitesmoke;
    border-radius: 50%;
    padding: 0.4rem;
}